.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--h1ero-footer-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
    background-color: var(--hero-background-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}